services:
  - type: web
    name: cicl-server
    env: docker
    plan: free
    region: oregon
    dockerfilePath: ./Dockerfile
    autoDeploy: true
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: LIBREOFFICE_PATH
        value: /usr/bin/soffice
      - key: JWT_SECRET
        value: CHANGE_ME_SECRET
      - key: FRONTEND_URL
        value: https://your-frontend.vercel.app
      - key: DATABASE_URL
        value: postgres://USER:PASSWORD@HOST:5432/auth_system
      - key: DB_HOST
        value: HOST
      - key: DB_NAME
        value: auth_system
      - key: DB_USER
        value: USER
      - key: DB_PASSWORD
        value: PASSWORD
      - key: DB_PORT
        value: 5432
